@font-face {
  font-family: "OliverOblique";
  src: url("./assets/OliverOblique.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
